<ng-container *ngIf="this.employeeService.editMode == false">
    <form class="container" [formGroup]="addEmployee" (ngSubmit)="onSubmit(); navigateToEmployeeList()">
        <h2>{{title}}</h2>
        <hr>
        <div class="row">
            <div class="column">
                <label class="form-label" for="employeeId">Id:</label><br>
                <input class="form-control" type="number" id="employeeId" name="employeeId" placeholder="Enter id" formControlName="employeeId" [class.is-invalid]="this.addEmployeeControls['employeeId'].invalid && this.addEmployeeControls['employeeId'].touched" [class.is-valid]="this.addEmployeeControls['employeeId'].valid && this.addEmployeeControls['employeeId'].touched">
                <small *ngIf="this.addEmployeeControls['employeeId'].errors?.['required'] && this.addEmployeeControls['employeeId'].touched" style="color:#d9534f">Employee id is required.</small>
            </div>
            <div class="column">
                <label for="name">Name:</label><br>
                <input class="form-control" type="text" id="name" name="name" placeholder="Enter name" formControlName="name" [class.is-invalid]="this.addEmployeeControls['name'].invalid && this.addEmployeeControls['name'].touched" [class.is-valid]="this.addEmployeeControls['name'].valid && this.addEmployeeControls['name'].touched">
                <small *ngIf="this.addEmployeeControls['name'].errors?.['required'] && this.addEmployeeControls['name'].touched" style="color:#d9534f">Employee name is required.</small>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="email">Email:</label><br>
                <input class="form-control" type="email" id="email" name="email" placeholder="Enter email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="this.addEmployeeControls['email'].invalid && this.addEmployeeControls['email'].touched"
                    [class.is-valid]="this.addEmployeeControls['email'].valid && this.addEmployeeControls['email'].touched">
                <small *ngIf="this.addEmployeeControls['email'].errors?.['required'] && this.addEmployeeControls['email'].touched" style="color:#d9534f"> Email is required.</small>
                <small *ngIf="this.addEmployeeControls['email'].invalid && this.addEmployeeControls['email'].touched" style="color:#d9534f"> Enter valid Email.</small>
            </div>
            <div class="column">
                <label for="contact">Contact Number:</label><br>
                <input class="form-control" type="tel" id="contact" name="contact" placeholder="Enter contact number" formControlName="contact" maxlength="10" [class.is-invalid]="this.addEmployeeControls['contact'].invalid && this.addEmployeeControls['contact'].touched"
                    [class.is-valid]="this.addEmployeeControls['contact'].valid && this.addEmployeeControls['contact'].touched">
                <small *ngIf="this.addEmployeeControls['contact'].errors?.['required'] && this.addEmployeeControls['contact'].touched" style="color:#d9534f"> Contact number is required.</small>
                <small *ngIf="this.addEmployeeControls['contact'].errors?.['minlength'] && this.addEmployeeControls['contact'].touched" style="color:#d9534f"> Contact number is must be of 10 digits.</small>
            </div>
        </div>


        <div class="row">
            <div class="column">
                <div formArrayName="skillsAndExprience">

                    <div class="row">
                        <div class="column">
                            <h3 for="skils">Skils:</h3>
                        </div>
                        <div class="column"><button class="btn btn-success" style="float: right;" type="button" (click)="createSkillsAndExpriences()">Add Skill +</button></div>
                    </div>


                    <ng-container *ngFor="let skill of skillsAndExprience.controls; index as i">
                        <div formGroupName="{{i}}">
                            <table>
                                <tr>

                                    <td>
                                        <input class="form-control" type="text" placeholder="Enter skill name" formControlName="skill" [class.is-invalid]="this.skillsAndExprience.invalid && this.skillsAndExprience.touched">
                                    </td>

                                    <td>
                                        <select class="form-control" formControlName="exprience" [class.is-invalid]="this.skillsAndExprience.invalid && this.skillsAndExprience.touched">
                                          <option selected disabled value="">Select exprience</option>
                                          <option value="(Exp: fresher)">Fresher</option>
                                          <option value="(Exp: 1 year)">1 year</option>
                                          <option value="(Exp: 2 year)">2 year</option>
                                          <option value="(Exp: 3 year)">3 year</option>
                                          <option value="(Exp: 4 year)">4 year</option>
                                          <option value="(Exp: 5 year)">5 year</option>
                                        </select>
                                    </td>
                                    <ng-container *ngIf="skillsAndExprience.length>1">
                                        <td>


                                            <button id="delete" style="background-color: #d9534f" (click)="deleteSkillsAndExprience(i)"><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </ng-container>

                                </tr>
                            </table>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="column">

                <label for="gender">Gender:</label><br>
                <div>
                    <input class="form-check-input" type="radio" id="gender-male" name="gender" value="male" formControlName="gender">
                    <label for="gender-male">Male</label>
                    <input class="form-check-input" type="radio" id="gender-female" name="gender" value="female" formControlName="gender">
                    <label for="gender-female">Female</label>

                    <small *ngIf="this.addEmployeeControls['gender'].value == '' && this.addEmployeeControls['gender'].touched" style="color:#d9534f"><br> select gender.</small>

                </div>
            </div>

        </div>
        <input type="submit" value="Add Employee" [disabled]="this.addEmployee.invalid">



    </form>
</ng-container>
<!-- Edit Employee Form -->
<ng-container *ngIf="this.employeeService.editMode == true">
    <form class="container" [formGroup]="editEmployee" (ngSubmit)="updateEmployeeData(); navigateToEmployeeList()">
        <h2>{{title}}</h2>
        <hr>
        <div class="row">
            <div class="column">
                <label for="employeeId">Id:</label><br>
                <input class="form-control" type="number" id="employeeId" name="employeeId" formControlName="employeeId" [class.is-invalid]="this.editEmployeeControls['employeeId'].invalid && this.editEmployeeControls['employeeId'].touched" [class.is-valid]="this.editEmployeeControls['employeeId'].valid && this.editEmployeeControls['employeeId'].touched">
                <small *ngIf="this.editEmployeeControls['employeeId'].errors?.['required'] && this.editEmployeeControls['employeeId'].touched" style="color:#d9534f">Employee id is required.</small>
            </div>
            <div class="column">
                <label for="name">Name:</label><br>
                <input class="form-control" type="text" id="name" name="name" formControlName="name" [class.is-invalid]="this.editEmployeeControls['name'].invalid && this.editEmployeeControls['name'].touched" [class.is-valid]="this.editEmployeeControls['name'].valid && this.editEmployeeControls['name'].touched">
                <small *ngIf="this.editEmployeeControls['name'].errors?.['required'] && this.editEmployeeControls['name'].touched" style="color:#d9534f">Employee name is required.</small>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="email">Email:</label><br>
                <input class="form-control" type="email" id="email" name="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="this.editEmployeeControls['email'].invalid && this.editEmployeeControls['email'].touched" [class.is-valid]="this.editEmployeeControls['email'].valid && this.editEmployeeControls['email'].touched">
                <small *ngIf="this.editEmployeeControls['email'].errors?.['required'] && this.editEmployeeControls['email'].touched" style="color:#d9534f"> Email is required.</small>
                <small *ngIf="this.editEmployeeControls['email'].invalid && this.editEmployeeControls['email'].touched" style="color:#d9534f"> Enter valid Email.</small>
            </div>
            <div class="column">
                <label for="contact">Contact:</label><br>
                <input class="form-control" type="tel" id="contact" name="contact" formControlName="contact" [class.is-invalid]="this.editEmployeeControls['contact'].invalid && this.editEmployeeControls['contact'].touched" [class.is-valid]="this.editEmployeeControls['contact'].valid && this.editEmployeeControls['contact'].touched">
                <small *ngIf="this.editEmployeeControls['contact'].errors?.['required'] && this.editEmployeeControls['contact'].touched" style="color:#d9534f"> Contact number is required.</small>
                <small *ngIf="this.editEmployeeControls['contact'].errors?.['minlength'] && this.editEmployeeControls['contact'].touched" style="color:#d9534f"> Contact number is must be of 10 digits.</small>
            </div>
        </div>
        <div class="row">



            <div class="column">
                <div formArrayName="skillsAndExprience">
                    <div class="row">
                        <div class="column">
                            <h3 for="skils">Skils:</h3>
                        </div>
                        <div class="column"><button type="button" style="float: right;" (click)="createSkillsAndExpriencesInEdit()">Add</button><br></div>
                    </div>


                    <ng-container *ngFor="let getSkillsAndExpriencesInEdit of skillsAndExprienceInEdit.controls; index as i">
                        <div class="row" formGroupName="{{i}}">
                            <div class="column">
                                <input class="form-control" type="text" formControlName="skill">
                            </div>

                            <div class="column">
                                <select class="form-control" formControlName="exprience">
                                  <option disabled selected value="">---select---</option>
                                  <option value="(Exp: fresher)">Fresher</option>
                                  <option value="(Exp: 1 year)">1 year</option>
                                  <option value="(Exp: 2 year)">2 year</option>
                                  <option value="(Exp: 3 year)">3 year</option>
                                  <option value="(Exp: 4 year)">4 year</option>
                                  <option value="(Exp: 5 year)">5 year</option>
                                </select>
                            </div>
                            <ng-container *ngIf="skillsAndExprienceInEdit.length>1">
                                <div class="column">
                                    <button type="button" style="float: right;" (click)="deleteSkillsAndExprienceInEdit(i)">delete</button>
                                </div>
                            </ng-container>
                        </div>

                    </ng-container>
                </div>
            </div>
            <div class="column">
                <label for="gender">Gender:</label><br>
                <input type="radio" id="gender-male" name="gender" value="male" formControlName="gender">
                <label for="gender-male">Male</label>
                <input type="radio" id="gender-female" name="gender" value="female" formControlName="gender">
                <label for="gender-female">Female</label>
            </div>
        </div>





        <input type="submit" value="Edit Employee" [disabled]="this.editEmployee.invalid">



    </form>
</ng-container>