<div class="row">
    <div class="col-sm">
        <h1>Employee List</h1>
    </div>
    <div class="col-sm">

        <button routerLink="/Add-employees" (click)="this.employeeService.editModeToggle(false)">Add Employees</button>
    </div>
</div>

<table class="employee-table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Gender</th>
        <th>Skils</th>
        <th>Action </th>
    </thead>
    <tbody>
        <tr *ngFor="let employee of getEmployees; index as i">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.contact}}</td>
            <td>{{employee.gender}}</td>
            <td>
                <ul>
                    <li *ngFor="let skillnExp of employee.skillsAndExpriences ; index as i">
                        {{skillnExp.skill }} {{skillnExp.exprience}}
                    </li>
                </ul>
            </td>
            <td>
                <i class="fa-solid fa-pencil" (click)="editEmployee(i)" (click)="this.employeeService.editModeToggle(true)" routerLink="/Edit-employees"></i>&nbsp;
                <i class="fa-solid fa-trash" (click)="deleteEmployee(i,employee.name)"></i>
            </td>




        </tr>
    </tbody>

</table>

<div *ngIf="showConfirmation" id="myModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to delete {{ employeeNameToDelete }} ?</p>
        <button (click)="confirmDelete()">Yes</button>
        <button (click)="cancelDelete()">No</button>
    </div>
</div>


<div *ngIf="showSuccess" id="myModal" class="modal">
    <div class="modal-content">{{ successMessage }}

    </div>
</div>