.row {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    .column {
        display: inline-block;
        h1 {
            padding: 0;
        }
        button {
            background-color: #3461dd;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

.employee-table {
    margin: 0 auto;
    width: 80vw;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
    thead {
        background-color: #7c7c7c;
        color: white;
        th {
            padding: 10px;
        }
    }
    tr {
        border: 1px solid #ddd;
        background-color: #f2f2f2;
        padding: 10px;
    }
    tr:hover {
        background-color: #adadad;
    }
    tr:nth-child(even) {
        background-color: #ddd;
        color: black;
    }
    tr:nth-child(even):hover {
        background-color: #adadad;
    }
    ul {
        list-style-type: none;
    }
}