@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css );
.row {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    .column {
        display: inline-block;
        h1 {
            padding: 0;
        }
        button {
            background-color: #3461dd;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

.employee-table {
    margin: 0 auto;
    width: 80vw;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
    thead {
        background-color: #7c7c7c;
        color: white;
        th {
            padding: 10px;
        }
    }
    tr {
        border: 1px solid #ddd;
        background-color: #f2f2f2;
        padding: 10px;
    }
    tr:hover {
        background-color: #adadad;
    }
    tr:nth-child(even) {
        background-color: #ddd;
        color: black;
    }
    tr:nth-child(even):hover {
        background-color: #adadad;
    }
    ul {
        list-style-type: none;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}